.hero__left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero__left h1 {
    font-size: 56px;
}

.hero__left p {
    color: gray;
}

.hero__left__btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hero__left__btns button {
    width: 120px;
    height: 40px;
    border: 1px solid rgb(220, 120, 11);
    border-radius: 5px;
    background-color: white;
    color: rgb(220, 120, 11);
    font-weight: 600;
    transition: .3s;
}

.hero__left__btns button:hover {
    border: 1px solid rgb(220, 120, 11);
    background-color: rgb(220, 120, 11);
    color: white;
    transition: .3s;
}